@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}


    /* Add non-firefox CSS code here */
.navHeader{
    width: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

// As backfrop-filter is not supported in Firefox so:
@-moz-document url-prefix() {
    .navHeader{
        width: 100%;
        background: white;
        opacity: 80%;
    }
}

.navHeader{
    width: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}


.vanillaContainer{
    // sometimes the css container doesn't work properly
    max-width: 1592px;
    width: 90%;
}





//Sidebar CSS 
.sidebar{
    position: relative;
    
    ul {
        transition: all 0.5s ease-in-out;
        // This means that the beginning location is 100% right to its actual location on x-axis
        transform: translate(100%);
    }


    .closeButton{
        border: none !important;
        outline: none !important;
        transition: $dark;
        background: none;
        transition: $smooth;
        font-weight: bold;

        &:hover{
            font-size: 18px;
            transform: rotate(360deg);
        }
    }

    ul li:last-child a{
        background-color: $primary;
        transition: $smooth;
    
        &:hover{
            background: $primary-hover;
        }
    }
    
    ul li a {
        transition: $smooth;
        &:hover {
            color: $primary;
        }
    }
}


.toggleButton {
    border: none !important;
    outline: none !important;

    &:hover{
        color: $primary-hover;
        
    }
}

.showSidebar{
    transition: $smooth;
    display: flex;    
    ul {
        //this will bring the it back to its original location on x-axis
        transform: translate(0%)
    }
}



// ----------------------------------------------------

nav li:last-child a{
    background-color: $primary;
    transition: $smooth;

    &:hover{
        background: $primary-hover;
    }
}



nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
}

section.hero {
    background: $secondary;
}
.size {
    background: $secondary;
}


.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btn-primary {
    background-color: $primary !important;
    border-radius: 50%;
    &:hover{
        background: $primary-hover !important;
    }
}


section.cart {
    background: $secondary;
    .amount {
        color: $primary;
    }
}

section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 8px!important;
}


a.link {
    color: $primary;
}



section.status {
    background: $secondary;
    min-height: calc(100vh - 86px);

    .status-box{
        padding: 60px 0;
    }

    .status-box ul{
        margin-left: 84px;
    }

    .status-box ul li span{
        position: relative;
        padding-left: 20px;
        font-size: 16px;
    }

    //Dots
    .status-box ul li span::after {
        content: '';
        position: absolute;
        left: -10px;
        top:35%;
        // top: 50%;
        // transform: translateY(-50%);
        background: $dark;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0 0 1px 10px $secondary;
    }

    //Icons styles
    .status-box ul li span::before{
        font-family: "Line Awesome Free";
        font-size: 40px;
        font-weight: 600;
        position: absolute;
        left: -90px;
        color: inherit;
    }

    //Icons
    .status-box ul li:nth-child(1) span:before{
        content: "\f46c";
    }
    .status-box ul li:nth-child(2) span:before{
        content: "\f560";
    }
    .status-box ul li:nth-child(3) span::before{
        content: "\f818"
    }
    .status-box ul li:nth-child(4) span::before{
        content: "\f0d1";
    }
    .status-box ul li:nth-child(5) span::before{
        content: "\f582";
    }

    //Line Styles
    .status-box ul li {
        position: relative;
    }

    .status-box ul li:before {
        content: "";
        position: absolute;
        top: 0;
        width: 2px;
        height: 100%;
        left: -6px;
        background: $dark;
    }

    // line: all the before lines which have step-completed
    .status-box ul li.step-completed:before {
        background: $gray;
    }

    // dots
    .status-box ul li.step-completed span:after {
        background: $gray;
    }

    // text
    .status-box ul li.step-completed span {
        color: $gray;
    }

    // Current status
    .status-box ul li.current span {
        color: $primary;
    }
    
    .status-box ul li.current span:after {
        background: $primary;
    }

    .status-box ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .status-box ul li small{
        font-size: 12px;
        padding-right: 15px;
    }
}



@media(max-width:1060px) {
    .container {
        max-width: 90%;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}


@media(max-width: 768px) {
    .status-box ul li span:before {
        font-size: 34px;
    }
}


@media(min-width: 642px) {
    .sidebar{
        display: none;
    }
}

